/* Write your CSS here */
.logo {
  width: 400px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.search-container {
  border-style: solid;
  border-width: 0px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  width: 25px;
  padding-bottom: -5px;
}

.input-items {
  padding-bottom: 10px;
  width: 390px;
  min-height: 30px;
  border-color: #ffffff;
  border-width: 0px;
  margin: auto;
}
